<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style1.css}"/>
    <title>Создание нового заказа</title>
</head>
<body>
    <div class="wrapper">
        <div class="header">
            <div id="nav">
                <ul class="menu">
                    <li id="menu_item1-"><a href="/developing">Разработка</a></li>
                    <li id="menu_item2-"><a href="/collection">Портфолио</a></li>
                    <li id="menu_item3-"><a href="/about">О нас</a></li>
                    <li id="menu_item4-"><a href="/contacts">Контакты</a></li>
                    <li id="menu_item5-"><a th:href="@{/users/{id}(id=${user.getId()})}">Мой аккаунт</a></li>
                    <li id="menu_item6-"><a th:href="@{/users/notify}"><img th:src="@{/images/notify-button.png}" width="15"></a></li>
                </ul>
            </div>
        </div>
        <div class="content">
            <form th:method="post" th:action="@{/orders}" th:object="${order}" enctype="multipart/form-data">
                <input type="text" th:field="*{title}" id="title" placeholder="Наименнование проекта">
                <div style="color:red" th:if="${#fields.hasErrors('title')}" th:errors="*{title}" class="validation-message">TITLE_ERROR</div>
                <br/>
                <label for="description">Enter description</label>
                <textarea th:field="*{description}" id="description" cols="60" rows="10" placeholder="Опишите вашу идею"></textarea>
                <div style="color:red" th:if="${#fields.hasErrors('description')}" th:errors="*{description}" class="validation-message">DESCRIPTION_ERROR</div>
                <br/>
                <div th:if="${select}!=null">
                    <input type="radio" name="design" id="electronic" th:checked="${select.equals('ONLY_ELECTRONIC')}" value="ONLY_ELECTRONIC"><label for="electronic">Разработка электроники</label>
                    <br/>
                    <input type="radio" name="design" id="program" th:checked="${select.equals('ONLY_APP')}" value="ONLY_APP"><label for="program">Разработка ПО</label>
                    <br/>
                    <input type="radio" name="design" id="complex" th:checked="${select.equals('COMPLEX')}" value="COMPLEX"><label for="complex">Комплексная разработка</label>
                    <br/>
                </div>
                <div th:if="${select}==null">
                    <input type="radio" name="design" id="electronic2" checked value="ONLY_ELECTRONIC"><label for="electronic2">Разработка электроники</label>
                    <br/>
                    <input type="radio" name="design" id="program2"  value="ONLY_APP"><label for="program2">Разработка ПО</label>
                    <br/>
                    <input type="radio" name="design" id="complex2"  value="COMPLEX"><label for="complex2">Комплексная разработка</label>
                    <br/>
                </div>
                <input type="file" th:value="${upload}" name="file"/>
                <div style="color:red" th:text="${error}">SOME_ERROR</div>
                <input type="submit" value="Enter!"/>
            </form>
        </div>
        <div class="footer">

        </div>
    </div>
</body>
</html>