<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style1.css}"/>
    <title>Мои заказы</title>
</head>
<body>
    <div class="wrapper">
        <div class="header">
            <div id="nav">
                <ul class="menu">
                    <li id="menu_item1-"><a href="/developing">Разработка</a></li>
                    <li id="menu_item2-"><a href="/collection">Портфолио</a></li>
                    <li id="menu_item3-"><a href="/about">О нас</a></li>
                    <li id="menu_item4-"><a href="/contacts">Контакты</a></li>
                    <li id="menu_item5-"><a th:href="@{/users/{id}(id=${user.getId()})}">Мой аккаунт</a></li>
                    <li id="menu_item6"><a th:href="@{/users/notify}"><img th:src="@{/images/notify-button.png}" width="15"></a></li>
                </ul>
            </div>
        </div>
        <div class="user-container">
            <table>
                <tr>
                    <th>Наименование проекта</th>
                    <th>Дата создания</th>
                    <th>Дата последнего изменеия</th>
                    <th>Статус</th>
                    <th>Цена</th>
                </tr>
                <div th:each="order : ${orders}">
                    <tr>
                        <td><div th:text="${order.getTitle()}">TITLE</div></td>
                        <td><div th:text="${#temporals.format(order.getCreated(),'dd.MM.yyyy HH:mm'}">DATA_CREATED</div></td>
                        <td><div th:text="${#temporals.format(order.getUpdated(),'dd.MM.yyyy HH:mm'}">DATA_UPDATED</div></td>
                        <td><div th:text="${order.getOrderStatus()}">STATUS</div></td>
                        <td><div th:text="${order.getPrice()}">PRICE</div></td>
                        <td>
                            <form th:action="@{/orders/{id}(id=${order.getId()})}">
                                <input type="submit" value="Перейти к заказу">
                            </form>
                        </td>
                    </tr>
                </div>
            </table>
        </div>
        <div class="footer">

        </div>
    </div>

</body>
</html>