<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style1.css}"/>
    <title>Мои заказы</title>
</head>
<body>
    <div class="wrapper">
        <div class="header">
            <div id="nav">
                <ul class="menu">
                    <li id="menu_item1-"><a href="/developing">Разработка</a></li>
                    <li id="menu_item2-"><a href="/collection">Портфолио</a></li>
                    <li id="menu_item3-"><a href="/about">О нас</a></li>
                    <li id="menu_item4-"><a href="/contacts">Контакты</a></li>
                    <li id="menu_item5-"><a th:href="@{/users/{id}(id=${user.getId()})}">Мой аккаунт</a></li>
                </ul>
            </div>
        </div>
        <div class="user-container">
            <div th:each="order : ${orders}">
                <h2>
                    <a th:href="@{/orders/{id}(id=${order.getId()})}" th:text="${order.getTitle() + ' ' + order.getDescription()}">ORDER_INFO</a>
                </h2>
            </div>
        </div>
        <div class="footer">

        </div>
    </div>

</body>
</html>