<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style1.css}"/>
    <script src="https://vk.com/js/api/openapi.js?169" type="text/javascript"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/cesiumjs/1.78/Build/Cesium/Cesium.js"></script>
    <title>Title</title>
</head>
<body>
    <div class="wrapper">
        <div class="header">
            <div id="nav">
                <ul class="menu">
                    <li id="menu_item1-"><a href="/developing">Разработка</a></li>
                    <li id="menu_item2-"><a href="/collection">Портфолио</a></li>
                    <li id="menu_item3-"><a href="/about">О нас</a></li>
                    <li id="menu_item4-"><a href="/contacts">Контакты</a></li>
                    <li id="menu_item5-"><a th:href="@{/users/{id}(id=${user.getId()})}">Мой аккаунт</a></li>
                </ul>
            </div>
        </div>
        <div class="container-order-information">
            <div class="customer">
                <a th:href="@{/users/{id}(id=${customer.getId()})}">CUSTOMER</a>
            </div>
            <div class="title">
                <div th:text="${order.getTitle()}">TITLE_INFO</div>
            </div>
            <div class="description">
                <div th:text="${order.getDescription()}">TITLE_INFO</div>
            </div>
        </div>
        <div th:if="${order.getOrderStatus().name().equals('ACCEPTED')}">
            <div th:text="'К оплате ' + ${order.getPrice()}"></div>
            <form th:action="@{/payment/pay/current-order/{id}(id=${order.getId()})}" th:method="post">
                <button type="submit">Purchase with PayPal</button>
            </form>
            <form th:action="@{/api/v1/vk-pay/{id}(id=${order.getId()})}" th:method="post">
                <button id="payment" type="submit">Purchase with VK</button>
            </form>
            <script type="text/javascript" th:src="@{/js/vk-pay-script.js}"></script>
        </div>
    </div>
    <div class="footer">

    </div>
    <script type="text/javascript">
        VK.init({
            apiId: 8084738
        });
    </script>
</body>
</html>