<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style1.css}"/>
    <title>Портфолио</title>
</head>
<body>
    <div class="wrapper">
        <div class="header">
            <div id="nav">
                <div sec:authorize="isAnonymous()">
                    <ul class="menu">
                        <li id="menu_item1"><a href="/developing">Разработка</a></li>
                        <li id="menu_item2"><a href="/portfolio">Портфолио</a></li>
                        <li id="menu_item3"><a href="/about">О нас</a></li>
                        <li id="menu_item4"><a href="/contacts">Контакты</a></li>
                        <li id="menu_item5"><a href="/users/login">Вход/Регистрация</a></li>
                    </ul>
                </div>
                <div sec:authorize="isAuthenticated()">
                    <ul class="menu">
                        <li id="menu_item1-"><a href="/developing">Разработка</a></li>
                        <li id="menu_item2-"><a href="/portfolio">Портфолио</a></li>
                        <li id="menu_item3-"><a href="/about">О нас</a></li>
                        <li id="menu_item4-"><a href="/contacts">Контакты</a></li>
                        <li id="menu_item5-"><a th:href="@{/users/{id}(id=${currentUser.getId()})}">Мой аккаунт</a></li>
                        <li id="menu_item6-"><a th:href="@{/users/notify}"><img th:src="@{/images/notify-button.png}" width="12"></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="content">
            <div sec:authorize="hasRole('ADMIN')">
                <form th:action="@{/portfolio/new}" method="get">
                    <button type="submit">Добавить проект</button>
                </form>
            </div>
            <h4>Projects</h4>
            <div class="all-projects-grid">
                <div th:if="${projects}!=null">
                    <div th:each="project : ${projects}">
                        <a th:href="@{/portfolio/{id}(id=${project.getId()})}">
                            <img th:src="@{/portfolio/image/{id}(id=${project.getPreviewId()})}" width="200">
                            <div th:text="${project.getTitle()}"></div>
                        </a>
                        <form th:action="@{/portfolio/delete/{id}(id=${project.getId()})}" th:method="post">
                            <input type="submit" value="Remove">
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer">

        </div>
    </div>
</body>
</html>