<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style1.css}"/>
    <title>Платежи</title>
</head>
<body>
    <div class="wrapper">
        <div class="header">
            <div id="nav">
                <ul class="menu">
                    <li id="menu_item1-"><a href="/developing">Разработка</a></li>
                    <li id="menu_item2-"><a href="/collection">Портфолио</a></li>
                    <li id="menu_item3-"><a href="/about">О нас</a></li>
                    <li id="menu_item4-"><a href="/contacts">Контакты</a></li>
                    <li id="menu_item5-"><a th:href="@{/users/{id}(id=${user.getId()})}">Мой аккаунт</a></li>
                    <li id="menu_item6-"><a th:href="@{/users/notify}"><img th:src="@{/images/notify-button.png}" width="15"></a></li>
                </ul>
            </div>
        </div>
        <div class="container">
            <div class="container-filter">
                <script src="https://cdnjs.cloudflare.com/ajax/libs/cookiesjs/1.4.2/cookies.min.js"></script>
                <form id="ch" th:method="get" th:action="@{/manager/payments}">
                    <input type="text" name="keyword" th:value="${key}" placeholder="Search..."/>
                    <input id="ch1" type="checkbox" name="columns"  value="id"><label for="ch1">ID</label>
                    <input id="ch2" type="checkbox" name="columns"  value="user_id"><label for="ch2">USER_ID</label>
                    <input id="ch3" type="checkbox" name="columns" value="order_id"><label for="ch3">ORDER_ID</label>
                    <input id="ch4" type="checkbox" name="columns" value="payStatus"><label for="ch4">STATUS</label>
                    <input id="ch5" type="checkbox" name="columns" value="created"><label for="ch5">CREATED</label>
                    <input id="ch6" type="checkbox" name="columns" value="updated"><label for="ch6">UPDATED</label>
                    <input id="ch7" type="checkbox" name="columns" value="payMethod"><label for="ch7">PAY_METHOD</label>
                    <button onclick="location.replace('#toPrim'); location.reload();" type="submit">Go</button>
                </form>
                <script type="text/javascript" th:src="@{/js/script-save.js}"></script>
            </div>
            <div class="container-table">
                <table>
                    <tr>
                        <th>ID</th>
                        <th>USER_ID</th>
                        <th>ORDER_ID</th>
                        <th>STATUS</th>
                        <th>CREATED</th>
                        <th>UPDATED</th>
                        <th>PAY_METHOD</th>
                    </tr>
                    <div th:each="payment : ${history}">
                        <tr>
                            <td th:text="${payment.getId()}">ID</td>
                            <td th:text="${payment.getUser().getId()}">USER_ID</td>
                            <td th:text="${payment.getOrder().getId()}">ORDER_ID</td>
                            <td th:text="${payment.getPayStatus().name()}">STATUS</td>
                            <td th:text="${#temporals.format(payment.getCreated(),'dd.MM.yyyy HH:mm')}">CREATED DATE</td>
                            <td th:text="${#temporals.format(payment.getUpdated(),'dd.MM.yyyy HH:mm')}">UPDATED DATE</td>
                            <td th:text="${payment.getPayMethod()}">PAY METHOD</td>
                        </tr>
                    </div>
                </table>
            </div>
        </div>
        <div class="footer">

        </div>
    </div>
</body>
</html>