<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta th:name="_csrf" th:content="${_csrf.token}"/>
    <meta th:name="_csrf_header" th:content="${_csrf.headerName}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style1.css}"/>
    <title>create new user</title>
</head>
<body>
    <div class="wrapper">
        <div class="header">
            <div id="nav">
                <ul class="menu">
                    <li id="menu_item1"><a href="/developing">Разработка</a></li>
                    <li id="menu_item2"><a href="/collection">Портфолио</a></li>
                    <li id="menu_item3"><a href="/about">О нас</a></li>
                    <li id="menu_item4"><a href="/contacts">Контакты</a></li>
                    <li id="menu_item5"><a href="/users/registration">Вход/Регистрация</a></li>
                </ul>
            </div>
        </div>
        <div class="content">
            <form th:method="post" th:action="@{/users}" th:object="${user}">
                <label for="nickname">Enter nickname</label>
                <input type="text" th:field="*{nickname}" id="nickname">
                <div style="color:red" th:if="${#fields.hasErrors('nickname')}" th:errors="*{nickname}" class="validation-message">nickname_ERROR</div>
                <br/>
                <label for="password">Enter password</label>
                <input type="password" th:field="*{password}" id="password">
                <div style="color:red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="validation-message">password_ERROR</div>
                <br/>
                <label for="email">Enter email</label>
                <input type="email" th:field="*{email}" id="email">
                <div style="color:red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="validation-message">EMAIL_ERROR</div>
                <br/>
                <label for="phone">Enter phone</label>
                <input type="text" value="+7 " th:field="*{phone}" id="phone">
                <div style="color:red" th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}" class="validation-message">phone_error</div>
                <br/>
                <input type="checkbox" id="accept_notify" th:field="*{accept_notify}" name="accept_notify" th:checked="${ch}" value="true"><label for="accept_notify">Разрешить получать уведомления на электронную почту</label>
                <br/>
                <input type="submit" value="Enter!"/>
            </form>
        </div>
        <div class="footer">

        </div>
    </div>
</body>
</html>